.venv
tests
.git
.gitignore
.dockerignore
.env
.env.example
.env.test
.env.test.example
.env.prod
.env.prod.example
.env.dev
.env.dev.example
.env.local
.env.local.example
.env.staging
.env.staging.example
.env.preprod
README.md
*.sh
.vscode